data/seq_data/*R*.fq.gz
.snakemake/
bin/
code/.ipynb_checkpoints/
data/GCF_000699445.3.zip
data/GCF_000699445.3_UoM_Shae.V3_genomic.fas
data/GCF_000699445.3_UoM_Shae.V3_genomic.fas.fai
data/SH_V3.dict
data/SH_V3.fa
data/SH_V3.fa.fai
data/SH_V3.fa.ndb
data/SH_V3.fa.nhr
data/SH_V3.fa.nin
data/SH_V3.fa.njs
data/SH_V3.fa.not
data/SH_V3.fa.nsq
data/SH_V3.fa.ntf
data/SH_V3.fa.nto
data/SH_V3.gff
data/SH_V3.gff.bed
results/
code/.pversion
code/prev/
code/samples.list
conda/
data/natural_earth_files/
data/seq_data/prev_runs/
data/seq_data/aspera.openssh
data/seq_data/to_sra/*
